<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /pwa/
    RewriteRule ^index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /pwa/index.html [L]
</IfModule>
